<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hanrabong.web.cust.HCustMapper">
	
	<select id="selectByIdAndPw" resultType="Cust">
		SELECT CNUM, CID, CPW, CNAME
		FROM HCUST
		WHERE CID like #{cid} and CPW like #{cpw}
	</select>
	
	
	<insert id="insertHCust" parameterType="Cust">
	    insert into HCUST(CNUM, CID, CPW, CNAME) 
	    values (
	    	#{cnum}, #{cid}, #{cpw}, #{cname}
	    )
	</insert>
	
	<select id="existId" resultType="int" parameterType="string">
		SELECT COUNT(CID)
		FROM HCUST
		WHERE CID LIKE #{cid}
	</select>
</mapper>
