<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hanrabong.web.adm.HAdminMapper">
	<select id="existAdmin" parameterType="HAdmin" resultType="HAdmin">
		select ANAME
		from HADMIN
		where ANUM like #{anum} and APW like #{apw}
	</select>
</mapper>
